.DS_Store

/azure/bicep/main.json
/azure/bicep/modules/*.json

/**/*.tfstate*
/**/.terraform/
/**/.terraform.lock.hcl
/**/tfplan
/**/.infracost/

/**/__pycache__/
/**/venv/

/**/stereo2mono/input/
/**/stereo2mono/output/
