.DS_Store

/azure/bicep/**/*.json
!/azure/bicep/**/main.parameters.json
!/azure/bicep/**/bicepconfig.json

/**/*.tfstate*
/**/.terraform/
/**/.terraform.lock.hcl
/**/tfplan

/**/__pycache__/
/**/venv/

/**/stereo2mono/input/
/**/stereo2mono/output/
