subscription='9b184a26-7fff-49ed-9230-d11d484ad51b'
resourceGroup='rg-holm-arm-001'
location='WestEurope'
tags=(
    'Application=ARM'
    'Company=Holm'
    'Environment=Development'
    'Owner=mattias.holm@live.com'
)
template='main.json'
parameters='main.parameters.json'
module='./arm-ttk/arm-ttk/arm-ttk.psd1'
