tenant='9e042b3b-36c4-4b99-8236-728c73166cd9'
name='sp-holm-002'
role='Contributor'
scopes='/subscriptions/9b184a26-7fff-49ed-9230-d11d484ad51b'
api='00000003-0000-0000-c000-000000000000'
permissions='df021288-bdef-4463-88db-98f22de89214=Role'
issuer='https://token.actions.githubusercontent.com'
audience='api://AzureADTokenExchange'
subjects='repo:mattiasholm/code:ref:refs/heads/main repo:mattiasholm/code:environment:dev repo:mattiasholm/code:pull_request'
