tenantId='9e042b3b-36c4-4b99-8236-728c73166cd9'
subscriptionId='9b184a26-7fff-49ed-9230-d11d484ad51b'
name='sp-holm-001'
api='00000003-0000-0000-c000-000000000000'
permission='df021288-bdef-4463-88db-98f22de89214'
roleName='Contributor'
secretName='github'
secretExpiration=1
secretRotate=false
issuer='https://token.actions.githubusercontent.com'
audience='api://AzureADTokenExchange'
subjects='repo:mattiasholm/code:ref:refs/heads/main repo:mattiasholm/code:pull_request repo:mattiasholm/code:environment:dev'
